
<div class="about-div">
    // <img src="{{ 'assets/images/about_background.jpg'|theme }}" class="about-image">
    <div class="about-text">about us</div>
</div>


	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="intro_image"><img src="{{ 'assets/images/intro.png'|theme }}" alt=""></div>
				</div>
				<div class="col-lg-5">
					<div class="intro_content">
						{# <div class="intro_title">we have the best tours</div> #}
						<p class="intro_text about-intro">Unwind under the sun by our outdoor pool and enjoy stunning city views, or get in a work out at our 24-hour fitness center. With 8 meeting rooms on the 2nd floor, fully equipped with state-of-the-art A/V technology and Free high-speed, wireless Internet, we are ready for your business. The 2nd floor also offers a dedicated bar and flexible breakout areas.</p><br><br><br>
						<div class="button intro_button intro_button11"><div class="button_bcg"></div><a href="{{ 'offers'| page }}">explore now<span></span><span></span><span></span></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="intro_title text-center">We have the best Rooms</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="intro_text text-center">
						<p class="intro-text"> {% content 'placeholder/tour.txt' %}</p> 
					</div>
				</div>
			</div>
			<div class="row intro_items">

				<!-- Intro Item -->

				<div class="col-lg-4 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						<!-- Image by https://unsplash.com/@dnevozhai -->
						<div class="intro_item_background uk-box-shadow-large" style="background-image:url({{ 'assets/images/windows.jpg'|theme }})"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Book Now</div>
							<div class="button intro_button"><div class="button_bcg"></div><a href="{{ 'offers'| page }}">see more<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1 class="standard">Standard</h1>
								<div class="intro_price">From &#x20A6; 14,000</div>
								<div class="rating rating_4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Intro Item -->

				<div class="col-lg-4 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						<!-- Image by https://unsplash.com/@hellolightbulb -->
						<div class="intro_item_background uk-box-shadow-large" style="background-image:url({{ 'assets/images/bed5.jpg'|theme }})"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Book Now</div>
							<div class="button intro_button"><div class="button_bcg"></div><a href="{{ 'offers'| page }}">see more<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1>Deluxe</h1>
								<div class="intro_price">From  &#x20A6; 18,000</div>
								<div class="rating rating_4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Intro Item -->

				<div class="col-lg-4 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						<!-- Image by https://unsplash.com/@willianjusten -->
						<div class="intro_item_background uk-box-shadow-large" style="background-image:url({{ 'assets/images/bed2.jpg'|theme }})"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Book Now</div>
							<div class="button intro_button"><div class="button_bcg"></div><a href="{{ 'offers'| page }}">see more<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1>Executive</h1>
								<div class="intro_price">From &#x20A6; 25,000</div>
								<div class="rating rating_4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
