<div class="about-div">
    // <img src="{{ 'assets/images/about_background.jpg'|theme }}" class="about-image">
    <div class="about-text">Our Offers</div>
</div>

	<!-- Contact -->
<br><br><br><br><br>


	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="intro_title text-center">We have the best Rooms</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="intro_text text-center">
						<p class="intro-text"> {% content 'placeholder/tour.txt' %}</p> 
					</div>
				</div>
			</div>
			<div class="row intro_items">

				<!-- Intro Item -->

				<div class="col-lg-3 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						<!-- Image by https://unsplash.com/@dnevozhai -->
						<div class="intro_item_background uk-box-shadow-large" style="background-image:url({{ 'assets/images/windows.jpg'|theme }})"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Book Now</div>
							<div class="button intro_button"><div class="button_bcg"></div><a href="#booking">Book Now<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1 class="standard">Standard</h1>
								<div class="intro_price">From &#x20A6; 14,000</div>
								<div class="rating rating_4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Intro Item -->

				<div class="col-lg-3 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						<!-- Image by https://unsplash.com/@hellolightbulb -->
						<div class="intro_item_background uk-box-shadow-large" style="background-image:url({{ 'assets/images/bed5.jpg'|theme }})"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Book Now</div>
							<div class="button intro_button"><div class="button_bcg"></div><a href="#booking">Book Now<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1>Deluxe</h1>
								<div class="intro_price">From  &#x20A6; 18,000</div>
								<div class="rating rating_4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Intro Item -->

				<div class="col-lg-3 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						<!-- Image by https://unsplash.com/@willianjusten -->
						<div class="intro_item_background uk-box-shadow-large" style="background-image:url({{ 'assets/images/bed2.jpg'|theme }})"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Book Now</div>
							<div class="button intro_button"><div class="button_bcg"></div><a href="#booking">Book Now<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1>Executive</h1>
								<div class="intro_price">From &#x20A6; 25,000</div>
								<div class="rating rating_4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

                    		<div class="col-lg-3 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						<!-- Image by https://unsplash.com/@hellolightbulb -->
						<div class="intro_item_background uk-box-shadow-large" style="background-image:url({{ 'assets/images/rooms.jpg'|theme }})"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Book Now</div>
							<div class="button intro_button"><div class="button_bcg"></div><a href="#booking">Book Now<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1>Diplomat</h1>
								<div class="intro_price">From  &#x20A6; 35,000</div>
								<div class="rating rating_5">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

